.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #4f419b;
  padding: var(--s08) 0;
  z-index: 1000;

  div {
    color: var(--white);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    a {
      padding: 0.5rem;
      transition: 0.2s ease;

      & + a {
        margin-left: var(--s32);
      }

      &:hover {
        color: #054561;
      }
    }
  }

  .menuMobile {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: var(--blue-main);
    color: var(--white);
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s ease;

    ul {
      li {
        & + li {
          margin-top: var(--s16);
        }

        a {
          font-weight: bold;
          display: block;
          padding: 0.5rem 0;
          margin: 0.8rem 2rem;
          border-bottom: 2px solid rgba(255, 255, 255, 0.3);
          transition: 0.2s ease;

          &:hover {
            color: #054561;
          }
        }
      }
    }

    &.active {
      height: 70vh;
      visibility: visible;
    }
  }
}

.btnMenuMobile {
  display: none;
  background: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  border: none;
  color: var(--white);
  cursor: pointer;

  span {
    margin-left: 15px;
  }
}

.iconHamburguer {
  width: 20px;
  border-top: 2px solid var(--white);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s ease;
  }
}

.menuOpen .iconHamburguer {
  border-top: transparent;
}
.menuOpen .iconHamburguer::before {
  transform: rotate(135deg);
}
.menuOpen .iconHamburguer::after {
  transform: rotate(-135deg);
  position: relative;
  top: -7px;
}

@media (max-width: 980px) {
  .menu,
  .btnAgendar {
    display: none !important;
  }
  .btnMenuMobile {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 981px) {
  .menuMobile {
    display: none;
  }
}
