.footer {
  width: 100%;
  background-color: #6DBDDF;
  padding: 60px 0;

  .footerWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--s24);

    div {
      color: var(--white);

      h4 {
        font-weight: bold;
        font-size: var(--s24);
        margin-bottom: var(--s24);
      }

      p + p {
        margin-top: 12px;
      }

      ul li {
        & + li {
          margin-top: 12px;
        }

        &:nth-child(2)::after,
        &:nth-child(4)::after {
          content: "";
          display: block;
          max-width: 200px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.096);
          margin: 12px 0;
        }
      }

      .social {
        a + a {
          margin-left: var(--s24);
        }
      }
    }
  }
}

.copy {
  background-color: #367691;
  color: var(--white);
  padding: var(--s16) var(--s24);
  font-style: italic;
  text-align: center;
}

@media (max-width: 1080px) {
  .footer {
    .footerWrap {
      grid-template-columns: repeat(3, 1fr);

      .logo {
        grid-column: 1/-1;
        margin: auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer {
    padding: 30px 0;

    .footerWrap {
      grid-template-columns: 1fr;
      text-align: center;

      .logo {
        display: none;
      }

      h4 {
        margin-top: 20px;
      }

      ul li {
        &:nth-child(2)::after,
        &:nth-child(4)::after {
          margin: 12px auto !important;
        }
      }
    }
  }
}
